
<h2>User Registration</h2>
<form action="MakeNewUser" method="post">
    <p>UserName: </p><input type="text" name="UserName" />
    <p>Password: </p><input type="password" name="Password" />
    <p>Money: </p><input type="number" name="Money" step=".01" />
    <input type="submit"/>
</form>
